/* Cores padrão */
:root {
  --Misty-gray-text: #4B4B4B;
  --puple-primary-color: #9a8ebf;
  --bg-puple-dark: #7159c1;
  --pure-white-color: #ffffff;
  --bg-primary-puple: #7159c1;
  --color-white-text: #fff;
  --bg-primary-puple: #7159c1;
  --color-white-text: #fff;
  --foggy-light-purple: #ddd5f8;
  --color-light-purple: #9A8EBF;
  --bg-indaco-pallido-light: #F1EFFF;
}
