.comunidade {
  background: var(--bg-indaco-pallido-light);
  padding: 60px 0;
}
.content {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 30px;
}
.comunidade .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comunidade .content .container {
  width: 450px;
}
.comunidade .content .container h2 {
  font-size: 3em;
  color: var(--Misty-gray-text);
  line-height: 48px;
  font-weight: 500;
}
.comunidade .content .container p {
  font-size: 1.5em;
  color: #9A8EBF;
  line-height: 32px;
  margin-top: 10px;
}
.comunidade .content .container button {
  background: var(--bg-primary-puple);
  height: 50px;
  padding: 0 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
