.curso {
  display: flex;
  justify-content: center;
  align-items: center;
}
.curso .content {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.curso .container {
  max-width: 460px;
  margin-left: 65px;
}
.curso .container h2 {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 48px;
  color: #4B4B4B;
  font-weight: 500;
}
.curso .container p {
  font-size: 18px;
  line-height: 32px;
  margin-top: 10px;
  color: var(--color-light-purple);
}
.curso .container button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: var(--bg-primary-puple);
  height: 50px;
  padding: 0 30px;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}