/* Descrição */
section.descricao {
  padding: 60px 0px;
}
.descrition-container {
  max-width: 1070px;
  margin: 0 auto;
}

.descricao .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.descricao .container{
  width: 450px;
}
.descricao .content img {
  margin-left: 40px;
}
.descricao .container h2 {
  font-size: 34px;
  line-height: 48px;
  color: var(--Misty-gray-text);
  font-weight: normal;
}
.descricao .container p {
  font-size: 1.60em;
  font-weight: normal;
  color: var(--puple-primary-color);
  line-height: 2em;
  margin-top: 20px;
}
/* Descrição botão */
.descricao .container button {
  height: 50px;
  width: 269.88px;
  background: var(--bg-puple-dark);
  color: var(--pure-white-color);
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  margin-top: 20px;
}



