.contato {
  background: var(--bg-puple-dark);
  padding: 10px 0px;
}
.contato .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contato .container div {
  display: flex;
  padding-left: 20px;
}
.contato .container div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.contato .container div div strong {
  font-size: 1.60em;
  font-weight: normal;
}
.contato .container div div span {
  font-size: 1.15em;
  color: var(--color-indaco-light);
  margin-top: 6px;
}
.contato .container div div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 48px;
  padding: 0 20px;
  border-radius: 4px;
  margin-top: 20px;
}
.contato .container div div div input {
  border: 0px;
}
footer .content .container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  color: var(--color-cloudy-gray);
  font-size: 1.2em;
}
footer .content .container b {
  font-weight: bold;
}
footer .content .container ul {
  display: flex;
  list-style: none;
  align-items: center;
}
footer .content .container ul li {
  margin: 0px 10px;
}